html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.form {
  display: flex;
  position: relative;
bottom: 600px;
  }
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: auto;
    text-align: center;
    transition: transform .2s;
    background-color: white;
    border-radius: 5px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
.chateau {
  color:black;
background-color:white;
background-image:("assets/photo/chateau.png");
width: 100%;
height: 100%;
}

.imgcrd1 {
  padding-top: 7px;
}
.chateau2 {
  width: 100%;
height: 720px;
}
html {
  height: 100%;
  background-image: url("../photo/cité-du-vin-exterieur.jpeg");
}
header {
  display: flex;
  height: 100px;
  width: 100%;
  opacity: 0.9;
  background-color: rgb(95, 4, 4);
  
}
.body {
  height: 100%;
}
.topright {
  width: 8%;
  float: right;
}
.searchbar {
  text-align: center;
  width: 32%;
  padding-top: 27px;
  
}
.réseaux {
  justify-content: center;
  width: 10%;
  padding-top: 20px;
}
.facebook {
  height: 50px;
}
.instagram {
  height: 50px;
}
.topleft {
  width: 50%;
  padding-top: 35px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  
}
.topleft a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: cornsilk;
  font-size: large;
}
.topleft a:hover {
  opacity: 0.3;
  overflow: visible;
}
.logo {
  width: 100px;
  height: 100px;
  float: right;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

